body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid grey;
    margin: 0 auto;
}

.product-card {
    width: 250px;
    height: 320px;
}

.product-title {
    text-align: center;
}

.product-image {
    width: 80%;
}